.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__a {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification_2 {
  display: flex;
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  left: 33px;
  bottom: 25px;
}
